#about p {
  font-size: 23px;
  line-height: 35px;
  text-align: justify;
  /* padding: 20px 40px; */
  display: block;

}
p b{
    font-size: 23px;
}
#about {
    padding: 40px 20px;
  display: flex;
 height: auto;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;

  font-family: 'Source Sans Pro', sans-serif;
    color: #2f2e2f;
}
#about h1{
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 1px solid black;
    
}
@media (max-width: 660px) {
    #about {
        padding: 40px 20px;
    }
    #about p {
        padding: 10px 0px;
        line-height: 28px;
        font-size: 20px;
      }
      #about h1{
        font-size: 35px;
        border: 10px solid black;
        font-weight: 1000;
        padding: 10px 20px;
    }
    #about p b{
        font-size: 20px;
    }
    }
    .material-icons{
        font-size: 54px;
    }
   