.contact{
    margin-bottom: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.icon-card{
    padding: 5px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(230, 230, 230); */
    margin: 10px;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    
}
.icon-card:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: translateZ(0);
  transition: transform 0.25s ease-out;
  transform : scale(1.05);
  background-color: white;
}
.icon-card p{
    margin-top: 20px;
    text-align: center;
}
